.border-for-login {
    min-height: 610px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.login-container {
    width: 100%;
    max-width: 750px;
    min-height: 500px;
    margin: auto;
    background-color: #ffffff;
    border-radius: 8px;
    /* border: 2px solid #2d2f31; */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-r-logo-login {
    height: auto;
    width: auto;
    max-height: 60px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin-bottom: 20px;
}

.login-form,
.button-for-password {
    width: 100%;
    /* Задаю ширину формы равной ширине контейнера */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form input,
.login-form button,
.login-form a {
    width: 100%;
    max-width: 300px;
    margin-bottom: 1rem;
    padding: 8px;
}

.login-form input {
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
}

.login-form button {
    border: none;
    border-radius: 20px;
    background-color: #2d2f31;
    color: white;
    cursor: pointer;
    max-width: 100px;
}

.button-for-password {
    position: relative;
}

.button-for-password button {
    max-width: 80px;
    position: absolute;
    padding: 7px;
    background-color: transparent;
    color: #2d2f31;
    right: 210px;
    top: 2px;
}

.login-form a {
    display: block;
    text-align: center;
    color: #2d2f31;
    text-decoration: none;
}

.login-form .error {
    color: #d32f2f;
    text-align: center;
    margin-bottom: 1rem;
}