.App-footer {
    height: 90px;
    background-color: #2d2f31;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3%;
    position: relative; 
}

.App-footer::after {
    content: '';
    position: absolute;
    top: 10%;
    bottom: 10%;
    left: 50%; 
    width: 1px; 
    background-color: #ffffff; 
}

.footer-logo-and-name {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-logo-text-container,
.copyright-container {
    color: #fff;
    font-family: var(--menu-text);
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.9rem;
    margin-left: 20px;
}

.my-r-logo-footer {
    height: auto;
    width: auto;
    max-height: 20px;
    border-radius: 10%;
}

.copyright-container {
    padding-right: 3%;
}

:root {
    --menu-text: 'SF Pro Text', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}